<html>
<head>
    <title>Create Record</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/movie/Allmovie" method="post">
        <div class="container" style="margin:70px">
            <br />
            <center>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <tbody>
                            <a class="btn btn-primary" href="/Home/Index">Admin Login</a>
                            <h1>Login page For Director</h1>


                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    <input type="text" name="Name" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password
                                </td>
                                <td>
                                    <input type="text" name="Email" />
                                </td>
                            </tr>


                     <tr>
                                <td><input class="btn btn-success" type="submit" name="subBtn" value="Login Director" /></td>
                            
                      
                        </tr>
                        </tbody>
                    </table>
                </div>
            </center>
        </div>
    </form>
</body>
</html>

